body{
    background-image: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
div{
    margin: 2rem;
}
.form{
    color: white;
    font-size: larger;
    font-family: Helvetica,Arial;
}
h1{
    color: crimson;
}